@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

$white: white;
$black: black;

@mixin marginTop() {
    margin-top: 50px;
}
@mixin headerFont() {
    font-family: 'Playfair Display',serif;
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 800px;
}

.word {
    @include marginTop();
    position: relative;
    h1 {
        @include headerFont();
    }
}
.btn {
    width: 200px;
    height: 50px;
    padding: 5px 15px;
    margin: 30px;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 0px;
    font-size: 20px;
    box-shadow: 3px 5px;
    text-align: center;
    transition: all 0.2s;
    &:hover {
        transition: all 0.2s;
        box-shadow: 1px 2px;
    }

    &_save {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        background-color: white;
        box-shadow: 1px 2px;
        transition: all 0.2s;
        position: absolute;
        left: -60px;
        top: 10px;
        &:hover {
            transition: all 0.2s;
            box-shadow: 2px 3px;
        }
    }

    &_block {
        text-align: center;
    }
}

.hidden {
    display: none;
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.transition {
    animation: animate 0.3s linear;
}

.answer {
    &_header {
        text-align: center;
    }
    &_section {
        img {
            width: 40px;
            height: 40px;
            display: inline-block;
        }
        h1 {
            display: inline-block;
            margin-left: 20px;
        }
        &_desc {
            p {
                font-size: 22px;
            }
        }
        .correct {
            h1 {
                color: rgb(54, 177, 43);
            }
            &_content {
                display: flex;
                align-items: center;
            }
        }
        .incorrect {
            &_content {
                display: flex;
                align-items: center;
            }
            h1 {
                color: rgb(230, 68, 68);
            }
        }
    }
}